*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    height: 100vh;
    /* border: 5px solid red; */
}
.contenedor{
    /* border: 5px solid black; */
    display: grid;
    grid-template-areas:'header header images'
                        'articulo contenido contenido'
                        'footer footer footer';
}
.header{
    grid-area: header;
    height: 110px;
    background-color: chocolate;
    text-align: center;
    padding-top: 10px;
}
.images{
    grid-area: images;
    background-color: brown;
    height: 110px;
    text-align: center;
    padding-top: 10px;
}
.articulos{
    grid-area: articulo;
    height: 526px;
    background-color: orange;
    padding: 10px
}
.articulo1{
    border: 2px solid white;
    background-color: white;
    color: orange;
    font-weight: bold;  
    height: 33.33%;
    text-align: center;
    padding-top: 10px;
}
.vacio{
    /* border: 2px solid white; */
    height: 33.33%;
}
.articulo2{
    border: 2px solid white;
    background-color: white;
    color: orange;
    font-weight: bold;
    height: 33.33%; 
    text-align: center;
    padding-top: 10px;
}
.contenido{
    grid-area: contenido;
    height: 100%;
    background-color: orangered;
    grid-template-areas:'contenido'
                        'texto';
    padding: 10px;
}
.cont{
    grid-area: contenido;
    height: 49%;
    /* margin: 10px; */
    border: 2px solid white;
    text-align: center;
    padding-top: 10px;
}
.txt{
    grid-area: texto;
    height: 49%;
    margin-top: 10px;
    border: 2px solid white;
    text-align: center;
    padding-top: 10px;
}
.footer{
    grid-area: footer;
    background-color: brown;
    height: 110px;
    text-align: center;
    padding-top: 10px;
}