* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.main{
    width: auto;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.colores{
    border: 2px solid red;
    height: 60%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.red{
    background-color: red;
    width: 47.5%;
    height: 47.5%;
    text-decoration: none;
    color: white;
}
.green{
    background-color: green;
    width: 47.5%;
    height: 47.5%;
}
.blue{
    background-color: blue;
    width: 47.5%;
    height: 47.5%;
}
.yellow{
    background-color: yellow;
    width: 47.5%;
    height: 47.5%;
}
.barra__vertical{
    background-color: #000000;
    width: 5%;
    height: 47.5%;
}
.barra__horizontal{
    width: 45%;
    height: 5%;
}
.puntuacion{
    color: white;
    text-align: center;
    width: 10%;
}
.cambiar__red{
    color: blue;
    text-decoration: none;
    background-color: magenta;
}